[submodule "ArtificialIntelligence/DogBreedClassifier"]
	path = ArtificialIntelligence/DogBreedClassifier
	url = https://github.com/juliasolee/dl-dog-based-project
[submodule "ArtificialIntelligence/TVScriptGeneration"]
	path = ArtificialIntelligence/TVScriptGeneration
	url = https://github.com/juliasolee/dl-generate-tv-scripts
